<h1>FTLabs: exploring the idea of a generic catchup, aka Taxi Pack </h1>

<h2>Endpoints (NB, all behind SSO. Will be tokenized later.)</h2>

<ul>
  <li>/fetchBasic</li>
  <ul>
    <li><a href="/fetchBasic" />version 1</a></li>
  </ul>
</ul>
